<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>531 Calculator by @syldb</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="helpers.js"></script>
  <script src="data.js"></script>
  <link rel="stylesheet" href="foundation/css/foundation.css">
</head>
<body>
  <div id="app">
    <layout></layout>
  </div>

  <script>
    Vue.component('training-max', {
      template: `
        <div>
          <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
              <p>
                <label>Enter your training max</label>
                <input type="float" name="tm" v-model="trainingMax"/>
              </p>
              <p><a v-on:click="next" class="button">Go</a></p>
            </div>
          </div>
          <result v-if="done" :tm=trainingMax :weekNumber=weekSelected></result>
        </div>
        `,
        props: ['weekSelected'],
        data: function() {
          return {
            done: false,
            trainingMax: undefined,
          }
        },
        methods: {
          next: function() {
            console.log("next 2 called")
            this.done=true;
          }
        }
    })

    Vue.component('result', {
      template: `
      <div>
        <div class="grid-x grid-padding-x">
          <div class="large-4 medium-4 small-4 cell">
            <div class="primary callout">
              <p>First set: <strong>{{sets[0]}}</strong></p>
              <p>Second set: <strong>{{sets[1]}}</strong></p>
              <p>Third set: <strong>{{sets[2]}}</strong></p>
            </div>
          </div>
        </div>
      </div>
      `,
      props: ['tm', 'weekNumber'],
      computed: {
        sets: function() {
          var sets = []
          for (var i=1; i<=3; i++) {
            sets.push(computePercentage(this.tm, this.weekNumber, i, true))
          }
          return sets
        }
      }
    })

    Vue.component('layout', {
      template: `
        <div class="grid-container">

          <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
              <h1>5/3/1 Calculator</h1>
            </div>
          </div>
          <div>
            <div class="grid-x grid-padding-x">
              <div class="large-6 medium-6 cell">
                <label>Select your week</label>
                <input type="radio" value="1" id="week-1" v-model="weekSelected" v-on:click="next">
                <label for="week-1">5/5/5</label>
                <input type="radio" value="2" id="week 2" v-model="weekSelected" v-on:click="next">
                <label for="week-2">3/3/3</label>
                <input type="radio" value="3" id="week-3" v-model="weekSelected" v-on:click="next">
                <label for="week-3">5/3/1</label>
              </div>
            </div>
          </div>
          <training-max v-if="done" :weekSelected=weekSelected></training-max>
        </div>
        `,
        data: function() {
          return {
            done: false,
            weekSelected: undefined,
          }
        },
        methods: {
          next: function(weekSelected) {
            console.log("next called", weekSelected);
            this.done = true;
          }
        }
    })

    var app = new Vue({
      el: '#app',
    })
  </script>
</body>
</html>
